// Asset list item
$size: 70px;
$itemHeight: $size;
$itemWidth: $size;

.asset-list-item {
    height: $itemHeight;
    margin-bottom: 1px;

    &:nth-child(even) {
        background: $color-lighter-gray;
    }

    &--image {
        width: $itemWidth;
        height: $itemHeight;
        float: left;
        margin-right: 22px;

        &.default {
            background-image: url(/static/images/asset-image-default.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: $size;
        }
    }

    &--details {
        padding-top: 15px;
        padding-right: 22px;
    }

    &--name {
        @extend %truncate;
        @include fontRoboto(15px, normal, normal, normal, .3px);
        color: $color-dark;
        line-height: 1.33;
    }

    &--state {
        @include fontRoboto(12px);
        color: $color-dark;
        line-height: 2;

        &.warning {
            color: $color-danger;
            font-weight: 500;
        }

        &-description {
            @extend %truncate;
        }

        &-icon {
            margin-right: 4px;
        }

        .zamicon {
            &:before {
                color: inherit;
            }
        }
    }
}
