// Asset import
.asset-import {
  .headline-row {
    height: 86px;
  }

  .headline-summary {
    margin: 0;
  }

  .headline-summary-row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .headline-border-bottom {
    border-bottom: 1px solid $color-lighter-gray;
    width: 100%;
    margin-left: 30px;
    margin-bottom: 8px;
  }

  .import-summary {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid $color-lighter-gray;

    .checked-asset {
      border-right: 2px solid $color-lighter-gray;
      font-weight: 500;
      color: $color-dark;
      text-align: center;

      .count {
        font-size: 46px;
        line-height: 1.57;
        letter-spacing: 0.4px;
      }

      .text {
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 1.33;
      }
    }

    .report {
      .box {
        height: 30px;
        margin-right: 10px;
        min-width: 30px;

        &.imported {
          background-color: #6acc3c;
        }

        &.ignored {
          background-color: gray;
        }

        &.duplicate {
          background-color: lightgrey;
        }

        &.error {
          background-color: #eb262b;
        }

        &.warning {
          background-color: #f7e90f;
        }
      }

      .count {
        width: 50px;
      }
    }

    .result-cell {
      margin-left: -15px;
    }

    .result-row {
      margin-bottom: 10px;
    }
  }
}
