// Defaults
@mixin fontRoboto($fontSize : 16px, $fontWeight : normal, $fontStyle : normal, $fontStretch : normal, $letterSpacing : normal) {
  font-family: Roboto;
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-style: $fontStyle;
  font-stretch: $fontStretch;
  letter-spacing: $letterSpacing;
}

@mixin fontSmoothing($moz : grayscale, $webkit : antialiased) {
  -moz-osx-font-smoothing: $moz;
  -webkit-font-smoothing: $webkit;
}

@mixin backgroundImage($url, $repeat : no-repeat, $position : center) {
  background-image: $url;
  background-repeat: $repeat;
  background-position: $position;
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%clickable {
  cursor: pointer;
}

body {
  @include fontRoboto();
  @include fontSmoothing();
  color: $color-dark-gray;
  background-color: $color-white;
}

p {
  &.lead {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.1px;
  }
}

a {
  color: $color-primary;
  text-decoration: underline;
}

ul {
  margin-left: 17px;
  padding-left: 0;
}

// Background colors
.bg-primary {
  background-color: $color-primary !important;
}

.bg-secondary {
  background-color: $color-secondary !important;
}

.bg-error {
  background-color: $color-danger !important;
}

.bg-success {
  background-color: $color-success !important;
}

.bg-dark-blue {
  background-color: #0D87E9;
}

.bg-dark-orange {
  background-color: #DE7F1E;
}

.bg-light-blue {
  background-color: #D3EAFE;
}

.bg-light-orange {
  background-color: #FFF6E6;
}

.bg-dark {
  background-color: $color-dark !important;
}

.bg-dark-gray {
  background-color: $color-dark-gray;
}

.bg-medium-gray {
  background-color: $color-medium-gray;
}

.bg-gray {
  background-color: $color-gray;
}

.bg-light-gray {
  background-color: $color-light-gray;
}

.bg-lighter-gray {
  background-color: $color-lighter-gray;
}

.bg-super-light-gray {
  background-color: $color-super-light-gray;
}

// text colors
.text-primary {
  color: $color-primary !important;
}

.text-secondary {
  color: $color-secondary !important;
}

.text-success {
  color: $color-success !important;
}

.text-danger {
  color: $color-danger !important;
}

.text-warning {
  color: $color-warning !important;
}

.text-truncate {
  @extend %truncate;
}

.underline-primary {
    background-image: -webkit-gradient(linear, left top, right top, to($color-primary));
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 2px;
}

.label {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: $color-dark-gray;
}

%value {
  line-height: 1.19;
  margin-bottom: 30px;
}

.value {
  @extend %value;
  color: $color-dark;
}

.value-none {
  @extend %value;
  color: $color-gray;
}

.vp-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  background-color: rgba(50, 50, 50, 0.5);
}

.full-width {
  width: 100%;
}

.with-menu {
  margin-right: 15px;
}

.with-menu > .container {
    margin-left: 0;
}

// Modals
.modal {
  &-backdrop {
    &.show {
      background-color: #323232;
      opacity: .5;
    }
  }

  &-content {
    .modal {
      &-body {
        padding-top: 9px;
      }

      &-header {
        padding-top: 21px;
      }
    }
  }

  &-body {
    letter-spacing: .2px;
  }

  &-title {
    color: $color-dark;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }
}

.fade {
  transition: opacity .3s linear;
}

.back-link {
    padding-top: 47px;

    a {
        font-size: 12px;
        line-height: 36px;
        text-decoration: none;
    }

    .zamicon {
      margin-left: -9px;
      font-size: 19px;

      &::before {
        color: inherit;
      }
    }
}

.selection-disabled {
    cursor: not-allowed;
}

.assigned-sites,
.detail-info {
    h3 {
        margin:0;
    }
}

.clickable {
  @extend %clickable;
}

.no-pointer-events {
    pointer-events: none;
}

.highlighted-text {
    color: $color-primary;
    font-weight: bold;
}

.ellipsify, .ellipsify .asset-status {
    @extend %truncate;
    min-width: 0;
}

.divider-horizontal {
  height: 1px;
  background-color: $color-gray;
}
