// Fonts
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/roboto-v18-latin-100.eot);
    src: local('Roboto Light'),
    local('Roboto-Light'),
    url(../fonts/roboto-v18-latin-100.eot?#iefix) format('embedded-opentype'), // IE6-IE8
    url(../fonts/roboto-v18-latin-100.woff2) format('woff2'), // super modern browsers
    url(../fonts/roboto-v18-latin-100.woff) format('woff'), // modern browsers
    url(../fonts/roboto-v18-latin-100.ttf) format('truetype'), // Safari, Android, iOS
    url(../fonts/roboto-v18-latin-100.svg#Roboto) format('svg'); // Legacy iOS
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/roboto-v18-latin-300.eot);
  src: local('Roboto Light'),
       local('Roboto-Light'),
       url(../fonts/roboto-v18-latin-300.eot?#iefix) format('embedded-opentype'), // IE6-IE8
       url(../fonts/roboto-v18-latin-300.woff2) format('woff2'), // super modern browsers
       url(../fonts/roboto-v18-latin-300.woff) format('woff'), // modern browsers
       url(../fonts/roboto-v18-latin-300.ttf) format('truetype'), // Safari, Android, iOS
       url(../fonts/roboto-v18-latin-300.svg#Roboto) format('svg'); // Legacy iOS
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto-v18-latin-regular.eot);
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(../fonts/roboto-v18-latin-regular.eot?#iefix) format('embedded-opentype'), // IE6-IE8
       url(../fonts/roboto-v18-latin-regular.woff2) format('woff2'), // super modern browsers
       url(../fonts/roboto-v18-latin-regular.woff) format('woff'), // modern browsers
       url(../fonts/roboto-v18-latin-regular.ttf) format('truetype'), // Safari, Android, iOS
       url(../fonts/roboto-v18-latin-regular.svg#Roboto) format('svg'); // Legacy iOS
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/roboto-v18-latin-500.eot);
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url(../fonts/roboto-v18-latin-500.eot?#iefix) format('embedded-opentype'), // IE6-IE8
       url(../fonts/roboto-v18-latin-500.woff2) format('woff2'), // super modern browsers
       url(../fonts/roboto-v18-latin-500.woff) format('woff'), // modern browsers
       url(../fonts/roboto-v18-latin-500.ttf) format('truetype'), // Safari, Android, iOS
       url(../fonts/roboto-v18-latin-500.svg#Roboto) format('svg'); // Legacy iOS
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/roboto-v18-latin-700.eot);
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url(../fonts/roboto-v18-latin-700.eot?#iefix) format('embedded-opentype'), // IE6-IE8
       url(../fonts/roboto-v18-latin-700.woff2) format('woff2'), // super modern browsers
       url(../fonts/roboto-v18-latin-700.woff) format('woff'), // modern browsers
       url(../fonts/roboto-v18-latin-700.ttf) format('truetype'), // Safari, Android, iOS
       url(../fonts/roboto-v18-latin-700.svg#Roboto) format('svg'); // Legacy iOS
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/teko-v7-latin-500.eot);
  src: local('Teko Medium'),
       local('Teko-Medium'),
       url(../fonts/teko-v7-latin-500.eot?#iefix) format('embedded-opentype'), // IE6-IE8
       url(../fonts/teko-v7-latin-500.woff2) format('woff2'), // super modern browsers
       url(../fonts/teko-v7-latin-500.woff) format('woff'), // modern browsers
       url(../fonts/teko-v7-latin-500.ttf) format('truetype'), // Safari, Android, iOS
       url(../fonts/teko-v7-latin-500.svg#Teko) format('svg'); // Legacy iOS
}

@font-face {
  font-family: 'Zamicons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Zamicons.eot?pu6bh4);
  src: url(../fonts/Zamicons.eot?pu6bh4#iefix) format('embedded-opentype'), // IE6-IE8
       url(../fonts/Zamicons.woff?pu6bh4) format('woff'), // modern browsers
       url(../fonts/Zamicons.ttf?pu6bh4) format('truetype'), // Safari, Android, iOS
       url(../fonts/Zamicons.svg?pu6bh4#Zamicons) format('svg'); // Legacy iOS
}

[class^='zamicon-'], [class*=' zamicon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: Zamicons !important;
  speak: none;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
      color: #555F60;
  }
}

.zamicon-help:before {
  content: "\e900";
}
.zamicon-info:before {
  content: "\e901";
}
.zamicon-mail:before {
  content: "\e902";
}
.zamicon-phone:before {
  content: "\e903";
}
.zamicon-arrow-drop-down:before {
  content: "\e904";
}
.zamicon-arrow-drop-up:before {
  content: "\e905";
}
.zamicon-arrow-left:before {
  content: "\e906";
}
.zamicon-arrow-right:before {
  content: "\e907";
}
.zamicon-back:before {
  content: "\e908";
}
.zamicon-calendar:before {
  content: "\e909";
}
.zamicon-camera-success:before {
  content: "\e90a";
}
.zamicon-camera-switch:before {
  content: "\e90b";
}
.zamicon-camera:before {
  content: "\e90c";
}
.zamicon-cancel-in-circle:before {
  content: "\e90d";
}
.zamicon-cancel:before {
  content: "\e90e";
}
.zamicon-caret-sort-asc:before {
  content: "\e90f";
}
.zamicon-caret-sort-desc:before {
  content: "\e910";
}
.zamicon-caret-sort:before {
  content: "\e911";
}
.zamicon-delete:before {
  content: "\e912";
}
.zamicon-download:before {
  content: "\e913";
}
.zamicon-edit:before {
  content: "\e914";
}
.zamicon-error:before {
  content: "\e915";
}
.zamicon-favorite-selected:before {
  content: "\e916";
}
.zamicon-favorite-unselected:before {
  content: "\e917";
}
.zamicon-filter:before {
  content: "\e918";
}
.zamicon-flash:before {
  content: "\e919";
}
.zamicon-forum:before {
  content: "\e91a";
}
.zamicon-gallery:before {
  content: "\e91b";
}
.zamicon-gift:before {
  content: "\e91c";
}
.zamicon-hamburger:before {
  content: "\e91d";
}
.zamicon-heart:before {
  content: "\e91e";
}
.zamicon-import:before {
  content: "\e91f";
}
.zamicon-list-2:before {
  content: "\e920";
}
.zamicon-list:before {
  content: "\e921";
}
.zamicon-location-off:before {
  content: "\e922";
}
.zamicon-location:before {
  content: "\e923";
}
.zamicon-logout:before {
  content: "\e924";
}
.zamicon-mic:before {
  content: "\e925";
}
.zamicon-overview:before {
  content: "\e926";
}
.zamicon-password-hide:before {
  content: "\e927";
}
.zamicon-password-show:before {
  content: "\e928";
}
.zamicon-plus:before {
  content: "\e929";
}
.zamicon-scan-off:before {
  content: "\e92a";
}
.zamicon-scan:before {
  content: "\e92b";
}
.zamicon-search:before {
  content: "\e92c";
}
.zamicon-settings:before {
  content: "\e92d";
}
.zamicon-shopping-cart:before {
  content: "\e92e";
}
.zamicon-state-available:before {
  content: "\e92f";
}
.zamicon-state-idle:before {
  content: "\e930";
}
.zamicon-state-in-use:before {
  content: "\e931";
}
.zamicon-state-repair:before {
  content: "\e932";
}
.zamicon-state-transport-incoming:before {
  content: "\e933";
}
.zamicon-state-transport-outgoing:before {
  content: "\e934";
}
.zamicon-state-transport:before {
  content: "\e935";
}
.zamicon-success:before {
  content: "\e936";
}
.zamicon-table:before {
  content: "\e937";
}
.zamicon-three-dots:before {
  content: "\e938";
}
.zamicon-upload:before {
  content: "\e939";
}
.zamicon-user-off:before {
  content: "\e93a";
}
.zamicon-user:before {
  content: "\e93b";
}
.zamicon-wifi-error:before {
  content: "\e93c";
}
