
$color-primary: #00AEEF;
$color-primary-dark: #0D87E9;
$color-primary-light: #D3EAFE;
$color-secondary: #FAA61A;
$color-secondary-dark: #DE7F1E;
$color-secondary-light: #FFF6E6;
$color-danger: #AF0E0E;
$color-warning: $color-secondary;
$color-success: #22AC47;
$color-success-dark: #1B8A39;
$color-success-light: #D3EEDA;
$color-dark: #131516;
$color-dark-gray: #555F60;
$color-medium-gray: #8C979A;
$color-light-gray: #DADEDF;
$color-lighter-gray: #F2F3F4;
$color-super-light-gray: #FCFCFC;
$color-gray: #C1C7C9;
$color-white: #FFFFFF;

$maps-marker-width: 23px;
$maps-marker-height: 30px;
$maps-marker-width-xl: $maps-marker-width*2;
$maps-marker-height-xl: $maps-marker-height*2;
$static-map-width: 300px;
$static-map-height: 125px;

$info-card-width: 300px;
$info-card-map-height: 125px;

$form-map-width: 435px;
$form-map-height: 215px;

$containerSpacingLeft: 43px;
$containerSpacingRight: 0;

$sidenav-left-spacing: 23px;
$sidenav-footer-height: 210px;

$navigation-width: 273px;
